* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #11131e;
}

#cabecera-logo {
    width: 20%;
    height: auto;
    padding: 0% 2%;
    background-color: transparent;
}
#cabecera-logo > div {
    width: 20px;
    margin: 0;
    padding: 5px;
}
#cabecera-logo h1 {
    font: italic 30px Arial, sans-serif, 'Lucida Sans';
    color: #ffffff;
}

#segmentos {
    width: 80%;
    height: 50px;
    padding: 2%;
    background-color: transparent;
}
#segmentos li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#segmentos a {
    text-decoration: none;
    color: #ffffff;
    font: bold 15px Arial;
}

section {
    width: auto;
    height: 120vh;
}

#main-page {
    background-image: url(https://blogs.cfainstitute.org/marketintegrity/files/2021/07/GettyImages-1220613120.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
    background-position: 50%;
    
}

#box p {
    margin: 100px 0;
    padding: 20px 10px;
    font: italic 4.5rem Arial;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: start;
    line-height: 1.8;
}
#box p:nth-last-child(1) {
    text-align: end;
}

#enlazador {
    display: grid;
    place-items: center;
    margin: 20px;
    padding: 5px;
    width: 120px;
    height: 50px;
    background-color: #252546ce;
    border-radius: 30px;
    float: right;
}
#enlazador a {
    font: italic 20px Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#tendencia {
    font: bolder 1.5rem Arial;
    margin: 15px;
    padding: 3px;
    text-shadow: 2px 1px 2px #353550e5;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;

    padding: 100px 50px;
}
.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #1b1b32;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.container .card:hover {
    height: 400px;
    cursor: pointer;
}
.container .card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .content {
    top: 130px;
    height: 250px;
}
.container .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #6f6f80b4;
    margin: 10px;
}
.container .card .content p {
    color: #333;
}
.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #1b1b32;
    color: white;
    font-weight: 500;
}
.container .card .content a:hover {
    opacity: 0.8;
}

.footer {
    position: absolute;
    width: 96%;
    background: #2b2b4ec9;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.social-icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    gap: 10px;
}
.social-icon-item, .menu-item {
    list-style: none;
}
.social-icon-link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon-link:hover {
    transform: translateY(-10px);
}
.menu-link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
}
.menu-link:hover {
    opacity: 2;
}
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

@media (max-width: 480px) {
    .container .card {
        width: 230px;
        border-radius: 15px;
    }
    .container .card .img-box {
        width: 185px;
        border-radius: 10px;
    }
    .container .card .content p {
        font-size: 0.8rem;
    }
    .container .card .content a {
        font-size: 0.9rem;
    }
}
