* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b32;
    display: block;
}

#cabecera-logo {
    width: 20%;
    height: auto;
    padding: 0% 2%;
    background-color: transparent;
}
#cabecera-logo > div {
    width: 20px;
    margin: 0;
    padding: 5px;
}
#cabecera-logo h1 {
    font: italic 30px Arial, sans-serif, 'Lucida Sans';
    color: #ffffff;
}

#segmentos {
    width: 80%;
    height: 50px;
    padding: 2%;
    background-color: transparent;
}
#segmentos li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#segmentos a {
    text-decoration: none;
    color: #ffffff;
    font: bold 15px Arial;
}

section {
    width: auto;
    height: 120vh;
}

#main-page {
    background-image: url(https://blogs.cfainstitute.org/marketintegrity/files/2021/07/GettyImages-1220613120.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
    background-position: 50%;
    
}

#box p {
    margin: 100px 0;
    padding: 20px 10px;
    font: italic 4.5rem Arial;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: start;
    line-height: 1.8;
}
#box p:nth-last-child(1) {
    text-align: end;
}

#enlazador {
    display: grid;
    place-items: center;
    margin: 20px;
    padding: 5px;
    width: 120px;
    height: 50px;
    background-color: #252546ce;
    border-radius: 30px;
    float: right;
}
#enlazador a {
    font: italic 20px Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#tendencia {
    font: bolder 1.5rem Arial;
    margin: 15px;
    padding: 3px;
    text-shadow: 2px 1px 2px #353550e5;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 5px;
    margin: 10px;
}
.container img {
    width: 300px;
    height: 150px;
    padding: 2rem;
    flex-basis: 300px;
}
.container div {
    width: 400px;
    background-color: #262646c5;
    border-radius: 5px;
    margin: 10px;
}
.container p {
    margin: 3px;
    text-align: justify;
    width: 250px;
    color: #fff;
}

.footer {
    width: 96%;
    background: #2b2b4ec9;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.social-icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    gap: 10px;
}
.social-icon-item, .menu-item {
    list-style: none;
}
.social-icon-link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon-link:hover {
    transform: translateY(-10px);
}
.menu-link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
}
.menu-link:hover {
    opacity: 2;
}
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}