* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    background-color: #3e3e68;
}
#cabecera-logo {
    width: 20%;
    height: auto;
    padding: 0% 2%;
    background-color: transparent;
}
#cabecera-logo > div {
    width: 20px;
    margin: 0;
    padding: 5px;
}
#cabecera-logo h1 {
    font: italic 30px Arial, sans-serif, 'Lucida Sans';
    color: #ffffff;
}

.media {
    height: 100vh;
    width: auto;
    border-bottom: 1px solid #10101b;
    display: flex;
    justify-content: center;
}
.contenedor-articulo-principal {
    width: 820px;
    height: fit-content;
    margin: 40px 60px;
    display: block;
    justify-content: center;

}
.imagen-articulo1 {
    width: 710px;
    height: 400px;
    margin: 10px 40px 30px 40px;
}
.imagen-articulo1 img {
    width: 100%;
    height: 100%;
}
.contenedor-articulo-principal p {
    width: auto;
    height: auto;
    margin: 20px;
    text-align: justify;
    color: #fff;
}

aside {
    width: 320px;
    padding: 10px;
    margin: 30px 25px;
    height: fit-content;

    display: inline-block;
    background-color: transparent;
}
aside > article {
    width: 96%;
    height: fit-content;
    margin: 50px 0;

}
aside article p {
    margin-bottom: 30px;
}
.separadores {
    border-bottom: 1px solid #000;
}
a {
    text-decoration: none;
    color: #fff;
}

/*PRUEBA, TARJETAS MEDIAS - PERMITIR Y VALIDAR LUEGO*/
#tres-noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
    height: 50vh;
    margin: 2rem 1.2rem;
    border-bottom: 1px solid #10101b;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
}
.tarjeta {
    position: relative;
    width: 355px;
    height: 274px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.noticia {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.noticia::before {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}
.tarjeta:hover .noticia::before {
    bottom: 0;
}
.tarjeta img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.tarjeta:hover .noticia img {
    transform: scale(1.1);
}
.detalles {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5rem 1.5rem 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: 0.3s;
    color: #fff;
    z-index: 2;
}
.tarjeta:hover .detalles {
    bottom: 0;
}
.detalles h1, .detalles h2 {
    font-weight: 700;
}
.detalles h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.detalles h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: 0.6;
}
.detalles .description {
    color: #fff;
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 1em;
}




.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;

    padding: 100px 50px;
}
.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #222246;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.container .card:hover {
    height: 400px;
    cursor: pointer;
}
.container .card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .content {
    top: 130px;
    height: 250px;
}
.container .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #6f6f80b4;
    margin: 10px;
}
.container .card .content p {
    color: #ffffff;
}
.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #47477ec2;
    color: #fff;
    font-weight: 500;

    border-radius: 20px;
    
}
.container .card .content a:hover {
    opacity: 0.8;
}

.footer {
    position: relative;
    width: 100%;
    background: #2b2b4ec9;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    position: relative;
}
.social-icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    gap: 10px;
}
.social-icon-item, .menu-item {
    list-style: none;
}
.social-icon-link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon-link:hover {
    transform: translateY(-10px);
}
.menu-link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
}
.menu-link:hover {
    opacity: 2;
}
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

@media (max-width: 480px) {
    .container .card {
        width: 230px;
        border-radius: 15px;
    }
    .container .card .img-box {
        width: 185px;
        border-radius: 10px;
    }
    .container .card .content p {
        font-size: 0.8rem;
    }
    .container .card .content a {
        font-size: 0.9rem;
    }
}